/* src/components/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fedc00;
    color: rgb(0, 0, 0);
  }
  
  .header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  